# Imports & setup

In [1]:
# Import Splinter, BeautifulSoup, and Selenium
from splinter import Browser
from bs4 import BeautifulSoup as soup
from selenium.webdriver.chrome.service import Service

In [2]:
# Import Pandas
import pandas as pd

In [3]:
# Import time datetime
import time
import datetime as dt

In [4]:
# Get user input for dates to loop through
start_date_str = input('Enter a start date: ')
end_date_str = input('Enter an end date: ')

Enter a start date:  January 19, 2024
Enter an end date:  January 19, 2024

In [5]:
# Convert user input to datetime objects
start_date = dt.datetime.strptime(start_date_str, '%B %d, %Y').date()
end_date = dt.datetime.strptime(end_date_str, '%B %d, %Y').date()

In [6]:
# Initialize an empty list to hold the CDL data
cdl_data = []

In [7]:
# Helper function to decide winner of map
def return_result(our_score, opp_score):
    if our_score > opp_score:
        return 1
    return 0

In [8]:
# Set up Splinter

# PC
# my_service = Service(executable_path = 'C:\\Users\\David\\.wdm\\drivers\\chromedriver\\win64\\121.0.6167.184\\chromedriver-win32\\chromedriver.exe')

# Laptop
my_service = Service(executable_path = 'C:\\Users\\David Harler Jr\\.wdm\\drivers\\chromedriver\\win64\\121.0.6167.184\\chromedriver-win32\\chromedriver.exe')

browser = Browser('chrome', service=my_service)

In [9]:
# Visit bp webpage
url = 'https://www.breakingpoint.gg/matches/'
browser.visit(url)

# Wait for webpage to load
time.sleep(5)

In [10]:
# Parse the HTML 
html = browser.html
bp_soup = soup(html, 'html.parser')

In [11]:
# Find the current match and current match ID
cur_match = bp_soup.find('div', class_ = 'mantine-vdx6qn')
cur_match_ID = int(cur_match.contents[1]['href'].split('/')[2])

In [12]:
# Visit bp match page for current match
url = 'https://www.breakingpoint.gg/match/' + str(cur_match_ID)
browser.visit(url)

# Wait for webpage to load
time.sleep(5)

In [13]:
# Parse the HTML
match_html = browser.html
match_soup = soup(match_html, 'html.parser')

In [14]:
# Get the match date and set as current date
looking_for_date = match_soup.find('div', class_ = 'mantine-7c77qh')
cur_date = dt.datetime.strptime(looking_for_date.string, '%m/%d/%Y, %H:%M:%S %p').date()

# Loop through BP.gg match webpages

In [17]:
# Initialize scoreboard row nums to loop through
scoreboard_row_nums = [1, 2, 3, 4, 6, 7, 8, 9]

# Print the beginning of the logging.
print("-----------------------------")

print("Beginning Data Retrieval     ")
print("-----------------------------")
print("")

# Use while loop to iterate through date range in reverse order
while cur_date >= start_date:

    # Set current match_ID
    cur_match_ID -= 1

    # Visit bp match page for current match
    url = 'https://www.breakingpoint.gg/match/' + str(cur_match_ID)
    browser.visit(url)

    # Wait for webpage to load
    time.sleep(5)
    
    # Parse the HTML
    match_html = browser.html
    match_soup = soup(match_html, 'html.parser')

    # Get the match date and set as current date
    looking_for_date = match_soup.find('div', class_ = 'mantine-7c77qh')
    cur_date = dt.datetime.strptime(looking_for_date.string, '%m/%d/%Y, %H:%M:%S %p').date()

    # Check to see if match date falls within specified date range
    if (cur_date >= start_date) & (cur_date <= end_date):

        # Get the teams
        teams = match_soup.find('div', class_ = 'mantine-7o6j5m').contents[0].contents
        team_a = teams[0].contents[0].contents[0].string
        team_b = teams[1].contents[-1].contents[-1].contents[0].string

        # Get the series scores
        team_a_series_score = int(teams[1].contents[0].string)
        team_b_series_score = int(teams[1].contents[2].string)

        # Get the mapset and the total number of maps played
        mapset = match_soup.find('div', class_ = 'mantine-g92whd').find_all('div', class_ = 'mantine-155beqj')
        total_maps = len(mapset)

        # Get the scoreboards
        scoreboards = match_soup.find_all('div', class_ = 'mantine-Tabs-panel mantine-v1hkmm')
        
        # Test print statement
        print(f"{team_a} vs. {team_b} | Match {cur_match_ID} on {cur_date} ")

        # Iterate through each map for the current match
        for map_num in range(1, total_maps + 1):
        
            # Get the map name
            map_name = list(mapset[map_num - 1].contents[1].strings)[0]
            
            # Get the gamemode
            gamemode = mapset[map_num - 1].contents[0].string
        
            # Get the team scores
            scores = mapset[map_num - 1].contents[2].contents[1].contents
            team_a_map_score = int(scores[0].string)
            team_b_map_score = int(scores[2].string)
        
            # Test print statements
            print(f"Map {map_num} of {total_maps} | {map_name} {gamemode}")
            # print(f"{team_a} {team_a_map_score} - {team_b_map_score} {team_b}")
        
            # Iterate down the rows of the current scoreboard
            for row_num in scoreboard_row_nums:
        
                # Get the player stats
                player = scoreboards[map_num - 1].contents[0].contents[1].contents[row_num].contents[0].string
                kills = int(scoreboards[map_num - 1].contents[0].contents[1].contents[row_num].contents[1].string)
                deaths = int(scoreboards[map_num - 1].contents[0].contents[1].contents[row_num].contents[2].string)
                kd = float(scoreboards[map_num - 1].contents[0].contents[1].contents[row_num].contents[3].string)
                plus_minus = kills - deaths
                dmg = int("".join(scoreboards[map_num - 1].contents[0].contents[1].contents[row_num].contents[5].string.split(',')))
        
                if row_num < 5:
                    # Append data to our cdl_list 
                    cdl_data.append({"match_id": cur_match_ID, "match_date": cur_date, "match_day": cur_date.strftime('%A'),
                                     "player": player, "team": team_a,
                                     "map_num": map_num, "map_name": map_name, "gamemode": gamemode, "kills": kills, 
                                     "deaths": deaths, "kd": kd, "plus_minus": plus_minus, "dmg": dmg, 
                                     "team_score": team_a_map_score, 
                                     "map_result": return_result(team_a_map_score, team_b_map_score), 
                                     "series_result": return_result(team_a_series_score, team_b_series_score)})
                else:
                    # Append data to our cdl_list 
                    cdl_data.append({"match_id": cur_match_ID, "match_date": cur_date, "match_day": cur_date.strftime('%A'),
                                     "player": player, "team": team_b,
                                     "map_num": map_num, "map_name": map_name, "gamemode": gamemode, "kills": kills, 
                                     "deaths": deaths, "kd": kd, "plus_minus": plus_minus, "dmg": dmg, 
                                     "team_score": team_b_map_score, 
                                     "map_result": return_result(team_b_map_score, team_a_map_score), 
                                     "series_result": return_result(team_b_series_score, team_a_series_score)})

        
        # Test print statement
        print(f"Series Final: {team_a} {team_a_series_score} - {team_b_series_score} {team_b}")
        print("")

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Beginning Data Retrieval
-----------------------------

New York Subliners vs. Toronto Ultra | Match 27227 on 2024-01-19
Map 1 of 3 | Karachi Hardpoint
Map 2 of 3 | Karachi Search & Destroy
Map 3 of 3 | Karachi Control
Series Final: New York Subliners 0 - 3 Toronto Ultra

OpTic Texas vs. Miami Heretics | Match 27226 on 2024-01-19
Map 1 of 3 | Invasion Hardpoint
Map 2 of 3 | Invasion Search & Destroy
Map 3 of 3 | Karachi Control
Series Final: OpTic Texas 0 - 3 Miami Heretics

Minnesota RØKKR vs. Los Angeles Guerrillas | Match 27225 on 2024-01-19
Map 1 of 3 | Invasion Hardpoint
Map 2 of 3 | Highrise Search & Destroy
Map 3 of 3 | Karachi Control
Series Final: Minnesota RØKKR 3 - 0 Los Angeles Guerrillas

-----------------------------
Data Retrieval Complete
-----------------------------

# Export data

In [18]:
# Convert our list of cdl dictionaries to a dataframe
cdl_df = pd.DataFrame(cdl_data)
cdl_df

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,kd,plus_minus,dmg,team_score,map_result,series_result
0,27227,2024-01-19,Friday,HyDra,New York Subliners,1,Karachi,Hardpoint,16,21,0.76,-5,3292,92,0,0
1,27227,2024-01-19,Friday,KiSMET,New York Subliners,1,Karachi,Hardpoint,15,22,0.68,-7,2969,92,0,0
2,27227,2024-01-19,Friday,Sib,New York Subliners,1,Karachi,Hardpoint,9,17,0.53,-8,2318,92,0,0
3,27227,2024-01-19,Friday,Skyz,New York Subliners,1,Karachi,Hardpoint,13,16,0.81,-3,2783,92,0,0
4,27227,2024-01-19,Friday,CleanX,Toronto Ultra,1,Karachi,Hardpoint,22,16,1.38,6,4111,250,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,27225,2024-01-19,Friday,Vivid,Minnesota RØKKR,3,Karachi,Control,24,21,1.14,3,4537,3,1,1
68,27225,2024-01-19,Friday,Assault,Los Angeles Guerrillas,3,Karachi,Control,19,22,0.86,-3,4043,1,0,0
69,27225,2024-01-19,Friday,Diamondcon,Los Angeles Guerrillas,3,Karachi,Control,21,25,0.84,-4,3861,1,0,0
70,27225,2024-01-19,Friday,Estreal,Los Angeles Guerrillas,3,Karachi,Control,30,20,1.50,10,5158,1,0,0
71,27225,2024-01-19,Friday,Fame,Los Angeles Guerrillas,3,Karachi,Control,12,25,0.48,-13,2942,1,0,0

In [19]:
cdl_df = cdl_df[cdl_df['match_id'] == 27227]

In [17]:
# Clean Minnesota RØKKR team name
cdl_df.replace("Minnesota RØKKR", "Minnesota ROKKR")

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,kd,plus_minus,dmg,team_score,map_result,series_result
0,27268,2024-03-10,Sunday,Dashy,OpTic Texas,1,Rio,Hardpoint,28,32,0.88,-4,5207,208,0,1
1,27268,2024-03-10,Sunday,Kenny,OpTic Texas,1,Rio,Hardpoint,25,27,0.93,-2,5852,208,0,1
2,27268,2024-03-10,Sunday,Pred,OpTic Texas,1,Rio,Hardpoint,27,28,0.96,-1,5358,208,0,1
3,27268,2024-03-10,Sunday,Shotzzy,OpTic Texas,1,Rio,Hardpoint,27,32,0.84,-5,5187,208,0,1
4,27268,2024-03-10,Sunday,CleanX,Toronto Ultra,1,Rio,Hardpoint,28,28,1.00,0,5276,250,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,27260,2024-03-08,Friday,Snoopy,Boston Breach,5,Karachi,Search & Destroy,5,10,0.50,-5,1334,5,0,0
276,27260,2024-03-08,Friday,Dashy,OpTic Texas,5,Karachi,Search & Destroy,8,7,1.14,1,1353,6,1,1
277,27260,2024-03-08,Friday,Kenny,OpTic Texas,5,Karachi,Search & Destroy,7,7,1.00,0,2065,6,1,1
278,27260,2024-03-08,Friday,Pred,OpTic Texas,5,Karachi,Search & Destroy,8,6,1.33,2,1233,6,1,1
279,27260,2024-03-08,Friday,Shotzzy,OpTic Texas,5,Karachi,Search & Destroy,13,7,1.86,6,1930,6,1,1

In [21]:
# Sort cdl_df by match_date, team, player
cdl_df = cdl_df.sort_values(by = ['match_date', 'match_id', 'map_num', 'team', 'player'])
cdl_df

,match_id,match_date,match_day,player,team,map_num,map_name,gamemode,kills,deaths,kd,plus_minus,dmg,team_score,map_result,series_result
0,27227,2024-01-19,Friday,HyDra,New York Subliners,1,Karachi,Hardpoint,16,21,0.76,-5,3292,92,0,0
1,27227,2024-01-19,Friday,KiSMET,New York Subliners,1,Karachi,Hardpoint,15,22,0.68,-7,2969,92,0,0
2,27227,2024-01-19,Friday,Sib,New York Subliners,1,Karachi,Hardpoint,9,17,0.53,-8,2318,92,0,0
3,27227,2024-01-19,Friday,Skyz,New York Subliners,1,Karachi,Hardpoint,13,16,0.81,-3,2783,92,0,0
4,27227,2024-01-19,Friday,CleanX,Toronto Ultra,1,Karachi,Hardpoint,22,16,1.38,6,4111,250,1,1
5,27227,2024-01-19,Friday,Envoy,Toronto Ultra,1,Karachi,Hardpoint,18,11,1.64,7,2831,250,1,1
6,27227,2024-01-19,Friday,Insight,Toronto Ultra,1,Karachi,Hardpoint,15,12,1.25,3,2350,250,1,1
7,27227,2024-01-19,Friday,Scrap,Toronto Ultra,1,Karachi,Hardpoint,21,14,1.50,7,3597,250,1,1
8,27227,2024-01-19,Friday,HyDra,New York Subliners,2,Karachi,Search & Destroy,8,6,1.33,2,1483,1,0,0
9,27227,2024-01-19,Friday,KiSMET,New York Subliners,2,Karachi,Search & Destroy,2,7,0.29,-5,803,1,0,0
10,27227,2024-01-19,Friday,Sib,New York Subliners,2,Karachi,Search & Destroy,2,7,0.29,-5,449,1,0,0
11,27227,2024-01-19,Friday,Skyz,New York Subliners,2,Karachi,Search & Destroy,6,6,1.00,0,1488,1,0,0
12,27227,2024-01-19,Friday,CleanX,Toronto Ultra,2,Karachi,Search & Destroy,3,4,0.75,-1,605,6,1,1
13,27227,2024-01-19,Friday,Envoy,Toronto Ultra,2,Karachi,Search & Destroy,4,5,0.80,-1,871,6,1,1
14,27227,2024-01-19,Friday,Insight,Toronto Ultra,2,Karachi,Search & Destroy,11,3,3.67,8,1878,6,1,1
15,27227,2024-01-19,Friday,Scrap,Toronto Ultra,2,Karachi,Search & Destroy,8,6,1.33,2,1527,6,1,1
16,27227,2024-01-19,Friday,HyDra,New York Subliners,3,Karachi,Control,21,19,1.11,2,3102,1,0,0
17,27227,2024-01-19,Friday,KiSMET,New York Subliners,3,Karachi,Control,18,22,0.82,-4,4550,1,0,0
18,27227,2024-01-19,Friday,Sib,New York Subliners,3,Karachi,Control,20,19,1.05,1,3550,1,0,0
19,27227,2024-01-19,Friday,Skyz,New York Subliners,3,Karachi,Control,19,18,1.06,1,3294,1,0,0
20,27227,2024-01-19,Friday,CleanX,Toronto Ultra,3,Karachi,Control,25,20,1.25,5,4103,3,1,1
21,27227,2024-01-19,Friday,Envoy,Toronto Ultra,3,Karachi,Control,19,20,0.95,-1,3500,3,1,1
22,27227,2024-01-19,Friday,Insight,Toronto Ultra,3,Karachi,Control,13,21,0.62,-8,3320,3,1,1
23,27227,2024-01-19,Friday,Scrap,Toronto Ultra,3,Karachi,Control,21,17,1.24,4,4697,3,1,1

In [22]:
from sqlalchemy import create_engine
from config import db_password

In [23]:
# Connect to SQL db
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/cdl_db"
engine = create_engine(db_string)
cdl_df.to_sql(name = 'cdl_data_' + dt.date.today().strftime('%Y_%m_%d'), con = engine, if_exists = 'replace')

24